:root {
  --color-primary: #ff0000;
  --color-bg: #0b0c12;
  --color-text: #8d96ab;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: sans-serif;
}